name: SonarCloud C# Source-Only Analysis

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  sonar-analysis:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install SonarScanner
        run: dotnet tool install --global dotnet-sonarscanner

      - name: Run SonarCloud Source-Only Analysis
        run: |
          dotnet-sonarscanner begin /k:"djedje-cyber_UltraInstinctVR" /o:"djedje-cyber" /d:sonar.login="${{ secrets.SONAR_TOKEN }}" /d:sonar.cs.analyzeBuild=false /d:sonar.sources="CodeBase/Assets,CodeBase/Packages"
          dotnet-sonarscanner end /d:sonar.login="${{ secrets.SONAR_TOKEN }}"
