name: Unity C# SonarCloud Analysis

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  sonarcloud:
    name: SonarCloud Analysis
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.x'

      - name: Setup SonarCloud
        uses: SonarSource/sonarcloud-github-action@master
        with:
          organization: djedje-cyber
          projectKey: djedje-cyber_UltraInstinctVR
          token: ${{ secrets.SONAR_TOKEN }}

      - name: Install NuGet (if needed)
        run: dotnet restore

      - name: Fake Build C# projects
        run: |
          Get-ChildItem -Path CodeBase -Filter *.csproj -Recurse | ForEach-Object {
            dotnet msbuild $_.FullName /t:Build /p:SkipCompilerExecution=true
          }

      - name: Run SonarCloud Scanner
        run: |
          dotnet sonarscanner end /d:sonar.login="${{ secrets.SONAR_TOKEN }}"
