name: SonarCloud Scan

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  sonarcloud:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install SonarScanner CLI
        run: |
          mkdir "%RUNNER_TEMP%\sonarscanner"
          cd "%RUNNER_TEMP%\sonarscanner"
          curl -Lo sonar-scanner.zip https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-7.2.0.5079-windows-x64.zip
          tar -xf sonar-scanner.zip
          echo "%RUNNER_TEMP%\sonarscanner\sonar-scanner-7.2.0.5079-windows-x64\bin" >> $Env:GITHUB_PATH

      - name: Run SonarScanner
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          sonar-scanner.bat ^
            -Dsonar.projectKey=djedje-cyber_UltraInstinctVR ^
            -Dsonar.organization=djedje-cyber ^
            -Dsonar.sources=CodeBase/Assets ^
            -Dsonar.exclusions=Library/**,Temp/**,Build/**,Builds/** ^
            -Dsonar.host.url=https://sonarcloud.io ^
            -Dsonar.login=%SONAR_TOKEN%
